@model PagedList.IPagedList<WebApp.Areas.Admin.Models.ViewModels.ManagerOrderViewModel>
@using PagedList.Mvc
<h3>Danh sách đơn hàng</h3>
<br />
<table class="table table-bordered">
    <tr style="font-size:20px;">
        <td>
            Họ
        </td>
        <td>
            Tên
        </td>
        <td>
            Ngày đặt
        </td>
        <td>
            Số điện thoại
        </td>
        <td>
            Địa chỉ
        </td>
        <td>
            Xem chi tiết
        </td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @if (item.FistName == null || item.FistName == "")
            {
                @Url.Content("Đang cập nhật")
            }
            else
            {
                @item.FistName
            }
        </td>
        <td>
            @if (item.LastName == null || item.LastName == "")
            {
                @Url.Content("Đang cập nhật")
            }
            else
            {
                @item.LastName
            }
        </td>
        <td>
            @item.OrderDate
        </td>
        <td>
            @if (item.PhoneNumber == null || item.PhoneNumber == "")
            {
                @Url.Content("Đang cập nhật")
            }
            else
            {
                @item.PhoneNumber
            }
        </td>
        <td>
            @if (item.Address == null || item.Address == "")
            {
                @Url.Content("Đang cập nhật")
            }
            else
            {
                @item.Address
            }
        </td>
        <td>
            <i class="glyphicon glyphicon-eye-open viewOrder" id="@item.Id" style="cursor:pointer;"></i>
        </td>
    </tr>
    }
</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model,page=>Url.Action("GetPagsing",new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {
        HttpMethod="GET",UpdateTargetId= "managerOrder"}))
<script>
    $(function () {
        $(".viewOrder").off().on("click", function () {
            var id = $(this).attr("id");
            $.ajax({
                type: "GET",
                url: "/Admin/ManagerOrder/GetOrderDetail?id=" + id,
                dataType: "html",
                success: function (data) {
                    $("#managerOrder").html(data);
                }
            });
        });
    });
</script>    