@model WebApp.Models.ViewDto.CreateUserDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Assets/css/css.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">

            <div class="login-form">

                <div class="sign-in-htm">

                    @using (Html.BeginForm())
                    {
                        <div class="form">

                            <form class="login-form">
                                <h3>Đăng kí</h3>
                                <div class="container">
                                    <div class="row">
                                        @if (ViewBag.Notify != null)
                                        {
                                            <p style="color:red;">@ViewBag.Notify</p>
                                        }
                                        <div class="col-md-6">

                                            <div class="group">
                                                @Html.LabelFor(model => model.UserName)
                                                @Html.EditorFor(m => m.UserName)
                                                <p id="TB_UserName" style="color:red;"></p>
                                            </div>
                                            <div class="group">
                                                @Html.LabelFor(model => model.FirstName)
                                                @Html.EditorFor(m => m.FirstName)
                                                <p id="TB_FirstName" style="color:red;"></p>
                                            </div>
                                            <div class="group">
                                                @Html.LabelFor(model => model.LastName)
                                                @Html.EditorFor(m => m.LastName)
                                                <p id="TB_LastName" style="color:red;"></p>
                                            </div>
                                            <div class="group">
                                                @Html.LabelFor(model => model.Email)
                                                @Html.EditorFor(m => m.Email)
                                                <p id="TB_Email" style="color:red;"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="group">
                                                @Html.LabelFor(model => model.PhoneNumber)
                                                @Html.EditorFor(m => m.PhoneNumber)
                                                <p id="TB_PhoneNumber" style="color:red;"></p>
                                            </div>
                                            <div class="group">
                                                @Html.LabelFor(model => model.Address)
                                                @Html.EditorFor(m => m.Address)
                                                <p id="TB_Address" style="color:red;"></p>
                                            </div>
                                            <div class="group">
                                                @Html.LabelFor(model => model.Password)
                                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @type = "password" } })
                                                <p id="TB_Password" style="color:red;"></p>
                                            </div>

                                            <div class="group">
                                                @Html.LabelFor(model => model.ConfirmPassword)
                                                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @type = "password" } })
                                                <p id="TB_ConfirmPassword" style="color:red;"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-success" value="Đăng kí" id="btnCreateAccount" />
                            </form>
                            <div class="pull-left back">
                                <a href="/Home/Index">< Trang chủ</a>
                            </div>
                            <div class="pull-right back">
                                <a href="/Home/Login">Đăng nhập >   </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/Assets/Index/Index.js"></script>
</body>
</html>