@model PagedList.IPagedList<WebApp.Areas.Admin.Models.ViewModels.ProductViewModel>
@using PagedList.Mvc
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Thể loại</h3>
                    <div class="checkbox-filter">
                        @{
                            var listcategory = (List<WebApp.Areas.Admin.Models.ViewDto.CategoryDto>)ViewBag.ListCate;
                            int count = 1;
                            foreach (var item in listcategory)
                            {
                                var name = item.Name;
                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-@count">
                                    <span>-</span>
                                    @if (name == "Gamming")
                                    {
                                        <a href="@Url.Action("PageProductDetail", "Home", new { page = 1, Id = Session["GammingId"] })">@item.Name</a>
                                    }
                                    else if (name == "Doanh nhân")
                                    {
                                        <a href="@Url.Action("PageProductDetail", "Home", new { page = 1, Id = Session["DoanhNhanId"] })">@item.Name</a>
                                    }
                                    else if (name == "Đồ họa")
                                    {
                                        <a href="@Url.Action("PageProductDetail", "Home", new { page = 1, Id = Session["DoHoaId"] })">@item.Name</a>
                                    }
                                    <small>(@item.QuantityCate)</small>
                                </div>
                                count++;
                            }
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                @*<div class="aside">
                        <h3 class="aside-title">Giá</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>*@
                <!-- /aside Widget -->
                <!-- aside Widget -->
                @*<div class="aside">
                        <h3 class="aside-title">Thương hiệu</h3>

                        <div class="checkbox-filter">
                            @{
                                var listCategory = (List<WebApp.Models.ViewModels.ManufactureViewModel>)ViewBag.ListManu;
                                var quantity = (List<WebApp.Models.ViewDto.ManufactureDto>)ViewBag.QuantityManu;
                                var dem = 1;
                                foreach (var item in listCategory)
                                {
                                    <div class="input-checkbox">
                                        <input type="checkbox" id="brand-@dem">
                                        <span>-</span>
                                        <a href="#" class="clickManu">@item.Name</a>
                                        @foreach (var i in quantity)
                                        {
                                            if (i.Name.Equals(item.Name))
                                            {
                                                <div id="@i.Name" style="display:none;"></div>
                                                <small>(@i.QuantityManu)</small>

                                            }

                                        }
                                    </div>
                                    dem++;
                                }
                            }
                        </div>
                    </div>*@
                @*<!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Top selling</h3>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00</h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00</h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->*@
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                @*<div class="store-filter clearfix">
                        <div class="store-sort">
                             <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>

                            <label>
                                Show:
                                <select class="input-select">
                                    <option value="0">20</option>
                                    <option value="1">50</option>
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>*@
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">

                    @foreach (var item in Model)
                    {
                        <!-- product take 9-->
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = item.Id })'">
                                    <img src="@item.UrlImage" alt="">
                                    <!-- <div class="product-label">
                                        <span class="sale">-30%</span>
                                        <span class="new">NEW</span>
                                    </div> -->
                                </div>
                                <div class="product-body" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id = item.Id })'">
                                    <p class="product-category">@item.CategoryName</p>
                                    <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                    <h4 class="product-price">@item.Price.ToString("#,##") VNĐ</h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn addCart">
                                        @Html.Hidden("productId", item.Id)
                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
                    @{
                        var currentPage = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
                    }
                    <ul class="store-pagination">
                        <li><a href="@Url.Action("PageProductDetail", new { page = ((currentPage - 1) <=0) ? currentPage = Model.PageSize+1 : currentPage -= 1 })"><i class="fa fa-angle-left"></i></a></li>
                        @for (int vip = 1; vip <= Model.PageCount; vip++)
                        {
                            if (vip == (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber))
                            {
                                <li class="active"><a href="@Url.Action("PageProductDetail", new { page = vip, Id = ViewBag.CategoryId })">@vip</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("PageProductDetail", new { page = vip, Id = ViewBag.CategoryId })">@vip</a></li>
                            }
                        }
                        <li><a href="@Url.Action("PageProductDetail", new { page = (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)+1, Id = ViewBag.CategoryId })"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Nhập Email để nhận thông tin <strong>MỚI NHẤT</strong></p>
                    <form method="post" action="/Home/GetFormEmail">
                        <input class="input" type="email" placeholder="Nhập Email của bạn" name="email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Nhận</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>