@model IEnumerable<WebApp.Areas.Admin.Models.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<div class="container-fluid danhmuc">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Sản phẩm", "Index", "Product")</li>
            <li>@Html.ActionLink("Nhà sản xuất", "Index", "Manufacture")</li>
            <li>@Html.ActionLink("Nhà cung cấp", "Index", "Supplier")</li>
        </ul>
    </div>
</div>
<h2>THỂ LOẠI</h2>
@if (Model.Count() < 3)
{
    <p>
        <button class="btn btn-primary addProduct" style="font-size:17px;">
            @Html.ActionLink("Thêm mới", "Create")
        </button>
    </p>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="row" class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="row" class="col-sm-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="row" class="col-sm-3">Chức năng</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-sm-6">
                    @Html.DisplayFor(modelItem => item.DisplayDescription)
                </td>
                <td class="col-sm-3">
                    <button class="btn btn-info">@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }, new { @class = "edit-color" })</button>
                    <button class="btn btn-warning">@Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "detail-color" })</button>
                    <button class="btn btn-danger">@Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "delete-color" })</button>
                </td>
            </tr>

        }
    </tbody>
</table>
