<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Ecommerce</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
    <link href="~/Assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="~/Assets/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Assets/css/slick-theme.css" />
    <link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Assets/css/style.css" />

</head>
<body>
    <!-- HEADER -->
    <header>
        @{ Html.RenderPartial("~/Views/Layout/_HeaderPatialView.cshtml");}
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="@Url.RouteUrl("TrangChu")" class="logo">
                                <img src="~/Assets/img/bggquan.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    @Html.Action("SearchPatialView", "Home")
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            @*<div>
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Yêu thích</span>
                                        <div class="qty">2</div>
                                    </a>
                                </div>*@
                            <!-- /Wishlist -->
                            <div id="divGioHang">
                                @Html.Action("GioHangPartial", "GioHang")
                            </div>
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                    <!-- /SEARCH BAR -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav thanhmenu">
                    <li class="hien"><a href="/Home/Index">Trang chủ</a></li>
                    <!-- <li><a href="#">Hot Deals</a></li> -->
                    @*<li><a href="#">Thể loại</a></li>*@
                    <li class="hien"><a href="@Url.Action("PageProductDetail","Home",new { page = 1, Id = "2667CB36-77C7-4496-9B89-9D13F935D487"})">Gamming</a></li>
                    <li class="hien"><a href="@Url.Action("PageProductDetail","Home",new {page=1,Id="E723D91F-1772-4F06-9BDE-B76199F5A167"})">Doanh nhân</a></li>
                    <li class="hien"><a href="@Url.Action("PageProductDetail","Home",new {page=1,Id="18B3AA8A-0625-4747-9229-5ABA09140874"})">Đồ họa</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!--Scroll top-->
    <div id="divScrollTop">
        <i class="fa fa-chevron-up"></i>
    </div>
    @RenderBody()
    @{
        Html.RenderPartial("~/Views/Layout/_FooterPatial.cshtml");
    }
    <!-- jQuery Plugins -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/slick.min.js"></script>
    <script src="~/Assets/js/nouislider.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/Index/Index.js"></script>
    @RenderSection("scripts", required: false)
    
</body>
</html> 