
@{ 
    var user = Session["UserName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Trang quản trị</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


</head>
<body>
    <div class="container">
        <div class="col-lg-3 side-bar">
            <div class="logo text-center">
                <a href="@Url.Action("GetProductPagsing","Product")"><img src="~/Assets/img/logo1.png" alt="" /></a>
            </div>
            <div class="navigation">
                @*<h3><a href="@Url.RouteUrl("Admin_TrangChu")" style="text-decoration:none;color:#fff;">Trang quản trị</a></h3>*@
                <h3>Trang quản trị</h3>
                <ul>
                    <li><a href="/Admin/Product/GetProductPagsing"><i class="fa fa-shopping-bag"></i> Quản lý sản phẩm</a></li>
                </ul>


                <ul>
                    <li><a href="/Admin/ManagerOrder/GetPagsing"><i class="fa fa-file-text"></i> Quản lý đơn hàng</a></li>
                </ul>
                @{
                    if (user != null)
                    {
                        if (user.Equals("admin"))
                        {
                            <ul>
                                <li><a href="/Admin/SetRole/Index"><i class="fa fa-users"></i> Quản lý tài khoản</a></li>
                            </ul>
                            <ul>
                                <li><a href="/Admin/Categories/Index"><i class="fa fa-ship"></i> Quản lý thể loại</a></li>
                            </ul>
                            <ul>
                                <li><a href="/Admin/Supplier/Index"><i class="fa fa-folder"></i> Quản lý cung cấp</a></li>
                            </ul>
                            <ul>
                                <li><a href="/Admin/Manufacture/Index"><i class="fa fa-folder"></i> Quản lý sản xuất</a></li>
                            </ul>
                        }
                    }
                }
                @*<ul>
            <li><a href="#"><i class="setting"></i></a></li>
            <li><a href="#">Settings</a></li>
        </ul>*@
            </div>
        </div>
        <div class="col-lg-9 content">
            <div class="home-strip">
                @Html.Partial("SearchPartialView")
                <div class="member">
                    <p><a href="#"><i class="men"></i></a><a href="#">@Session["UserName"]</a></p>
                    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                        <span><img src="~/Content/AdminLayout/images/settings.png" /></span>
                        <ul class="dropdown">
                            <li><a href="/Admin/Home/Logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                    <!-----end-wrapper-dropdown-2---->
                    <!-----start-script---->
                    <script type="text/javascript">
                        function DropDown(el) {
                            this.dd = el;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function () {
                                var obj = this;

                                obj.dd.on('click', function (event) {
                                    $(this).toggleClass('active');
                                    event.stopPropagation();
                                });
                            }
                        }
                        $(function () {

                            var dd = new DropDown($('#dd'));

                            $(document).click(function () {
                                // all dropdowns
                                $('.wrapper-dropdown-2').removeClass('active');
                            });

                        });
                    </script>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix">

            </div>
            @{
                Html.RenderAction("Index", "Statistic");
            }
            <div class="total-sales">

                <div class="user-trends">
                    @RenderBody()
                </div>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/AdminLayout/js/main.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>