<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Trang quản trị</title>
    <link href="~/Content/AdminLayout/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Theme files -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Custom Theme files -->
    <script src="~/Content/AdminLayout/js/jquery.min.js"></script>
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link href="~/Content/AdminLayout/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/AdminLayout/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/AdminLayout/js/main.js"></script> <!-- Resource jQuery -->
</head>
<body>
    <div class="container">
        <div class="col-lg-3 side-bar">
            <div class="logo text-center">
                <a href="~/Admin/Home/Index"><img src="~/Assets/img/logo1.png" alt="" /></a>
            </div>
            <div class="navigation">
                <h3><a href="@Url.RouteUrl("Admin_TrangChu")" style="text-decoration:none;color:#fff;">Trang chủ</a></h3>
                <ul>
                    <li><a href="/Admin/Product/Index"><i class="chat"></i></a></li>
                    <li><a href="/Admin/Product/Index">Quản lý sản phẩm</a></li>
                </ul>

                <ul>
                    <li><a href="/Admin/SetRole/Index"><i class="user"></i></a></li>
                    <li><a href="/Admin/SetRole/Index">Quản lý tài khoản</a></li>
                </ul>
                <ul>
                    <li><a href="/Admin/ManagerOrder/Index"><i class="art"></i></a></li>
                    <li><a href="/Admin/ManagerOrder/Index">Quản lý đơn hàng</a></li>
                </ul>
                <ul>
                    <li><a href="/Admin/Categories/Index"><i class="art"></i></a></li>
                    <li><a href="/Admin/Categories/Index">Quản lý thể loại</a></li>
                </ul>
                @*<ul>
                        <li><a href="#"><i class="setting"></i></a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>*@
            </div>
        </div>
        <div class="col-lg-9 content">
            @*<div class="home-strip">
                @Html.Partial("SearchPartialView")
                <div class="member">
                    <p><a href="#"><i class="men"></i></a><a href="#">@Session["UserName"]</a></p>
                    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                        <span><img src="~/Content/AdminLayout/images/settings.png" /></span>
                        <ul class="dropdown">
                            <li><a href="/Admin/Home/Logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                    <!-----end-wrapper-dropdown-2---->
                    <!-----start-script---->
                    <script type="text/javascript">
                        function DropDown(el) {
                            this.dd = el;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function () {
                                var obj = this;

                                obj.dd.on('click', function (event) {
                                    $(this).toggleClass('active');
                                    event.stopPropagation();
                                });
                            }
                        }
                        $(function () {

                            var dd = new DropDown($('#dd'));

                            $(document).click(function () {
                                // all dropdowns
                                $('.wrapper-dropdown-2').removeClass('active');
                            });

                        });
                    </script>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix">

            </div>
            *@
            @{
                Html.RenderAction("Index", "Statistic");
            }
            <div class="total-sales">

                <div class="user-trends">
                    @RenderBody()
                </div>
                <div class="clearfix"></div>
            </div>

            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>