<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            @*@{
                double QuantityTotalPrice = double.Parse(ViewBag.QuantityTotalPrice);
            }*@
            @*<h4>@QuantityTotalPrice.ToString("##,#")</h4>*@
            <p>Tổng doanh thu</p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            @*<h4>@ViewBag.QuantityUser</h4>*@
            <p>Thành viên</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            @*<h4>@ViewBag.QuantityOrder</h4>*@
            <p>Tổng đơn hàng</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="sales">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            @*<h4>@ViewBag.QuantityOnline</h4>*@
            <p>Trực tuyến</p>
        </div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">

            @*<h4>@ViewBag.QuantityVisited</h4>*@
            <p>Ghé thăm</p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>